<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <%- include("./components/head.ejs") %>
    <body style="width: 100% !important; height: 100%; -webkit-text-size-adjust: none; font-family: Nunito Sans, Helvetica, Arial, sans-serif; background-color: #F4F4F7; color: #51545E; margin: 0;" bgcolor="#F4F4F7">
        <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #F4F4F7; margin: 0; padding: 0;" bgcolor="#F4F4F7">
        <tr>
            <td align="center" style="word-break: break-word; font-family: Nunito Sans, Helvetica, Arial, sans-serif; font-size: 16px;">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; margin: 0; padding: 0;">
                <tr>
                <td class="email-masthead" style="word-break: break-word; font-family: Nunito Sans, Helvetica, Arial, sans-serif; font-size: 16px; text-align: center; padding: 25px 0;" align="center">
                    <%- include("./body/header.ejs", {productName: productName, domain: domain, companyName: companyName}) %>
                </td>
                </tr>
                <!-- Email Body -->
                <tr>
                <td class="email-body" width="100%" cellpadding="0" cellspacing="0" style="word-break: break-word; margin: 0; padding: 0; font-family: Nunito Sans, Helvetica, Arial, sans-serif; font-size: 16px; width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #FFFFFF;" bgcolor="#FFFFFF">
                    <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation" style="width: 570px; -premailer-width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #FFFFFF; margin: 0 auto; padding: 0;" bgcolor="#FFFFFF">
                    <!-- Body content -->
                    <tr>
                        <td class="content-cell" style="word-break: break-word; font-family: Nunito Sans, Helvetica, Arial, sans-serif; font-size: 16px; padding: 35px;">
                        <div class="f-fallback">
                            <h1 style="margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;" align="left">Welcome, <%= name %>!</h1>
                            <p>your invitation code is  <span style="color: #3869d4 !important;"> <%= code %> </span></p>
                            <p>The verification code has been sent, there may be a delay, the validity period is 1 minute</p>
                            <!-- Sub copy -->
                            <%- include("./body/copy.ejs", {productName: productName, domain: domain, companyName: companyName}) %>
                        </div>
                        </td>
                    </tr>
                    </table>
                </td>
                </tr>
                <tr>
                <td style="word-break: break-word; font-family: Nunito Sans, Helvetica, Arial, sans-serif; font-size: 16px;">
                    <%- include("./body/footer.ejs", {productName: productName, domain: domain, companyName: companyName}) %>
                </td>
                </tr>
            </table>
            </td>
        </tr>
        </table>
    </body>
</html>
